table, th, td {
    border: 2px solid;
    text-align: center;
}

th{
    height: 70px;
}

td{
    height: 40px;
}
  
table {
    width: 100%;
}

#billing-table{
    max-width: 75%;
    margin-left: 10%;
    margin-bottom: 50px;
}